body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dceae8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center
}

.title {
    text-align: ;
}

#canvas {
    display: grid;
    width: 60vw;
    height: 60vw;
}

.pixel {
    margin: 0;
    background-color: rgb(254, 254, 254);
    outline: 1px solid #cacaca;
    border-radius: 5px;
}

.controls{
    display: flex;
    justify-content: space-between;
    padding: 2vw 0;
}

#clear{
    height: 50px;
    border-radius: 10px;
}