@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #595959;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
}

.title {
    font-family: 'Permanent Marker', cursive;
    font-size: 3em;
}

.container {
 width: 75vh;
}

#canvas {
    display: grid;
    aspect-ratio : 1 / 1;
    border: 2em solid rgb(37, 116, 121);
    border-radius: 3%;
    box-shadow: 0 0 20px 2px rgb(46, 46, 46);
}

.pixel {
    margin: 0;
    background-color: rgb(255,255,255);
    outline: 1px solid #cacaca;
    border-radius: 1px;
    margin: 0.5px;
}

.controls{
    display: flex;
    justify-content: space-between;
    margin: 5vh 0 2vh 0;
}

.controls p {
    font-size: 0.9em;
}
.buttons{
    display: flex;
    justify-content: flex-end;
}

button{
    margin-left: 1em;
    height: 3em;
    border-radius: 8px;
    background-color: #d7d7d7;
    border: 1px solid #cacaca;
}

button:hover {
    background-color: #f0f0f0;
}